.home{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    display: flex;
}
.map{
    width: 45rem;
    height: 40rem;
}

@media only screen and (max-width: 450px) {
    .map{
        width: 17.5rem;
        height: 17.5rem;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1025px) {
    .map{
        width: 20rem;
        height: 20rem;
    }
}