.monitor_id_home {
    background: rgb(61, 61, 110);
    margin: 80px 20px;
    height: 131vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.monitor_id_detail{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(12, 12, 52);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: scroll;
}
.monitor_id_detail_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}
.monitor_id_accrodion{
    width: 80%;
}
.monitor_patient_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}