.homeLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 140vw;
}

@media only screen and (max-width: 1024px) {
    .homeLogin {
        height: 145vw;
    }
    
}
@media only screen and (max-width: 450px) {
    .homeLogin {
        height: 216vw;
    }
    
}