.themesLogin {
  background: linear-gradient(125deg, #021B79, #0575E6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.themesBtn{
  background: linear-gradient(125deg, #021B79, #0575E6);
  color: white;
}
.homeLogin{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  
    
}
@media only screen and (max-width: 450px) {
    /* .homeLogin {
        height: 216vw;
    } */
    
}