.imageCars{
    width: 20rem;
    height: 20rem;
}
.bodyImage{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 10px;
}

@media only screen and (max-width: 450px) {
    .imageCars{
        width: 18rem;
        height: 18rem;
    }

    .bodyImage{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 10px;
    }
}

/* @media only screen and (max-width: 1024px) {
    .imageCars{
        width: 18rem;
        height: 18rem;
    }

    .bodyImage{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 40px;
    }
} */