.head{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4%;
    right: 32%;
}
.rightShoulder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8.5%;
    right: 27%; 
}
.leftShoulder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: 28%; ; 
}
.rightArm{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14%;
    right: 25%; 
}
.leftArm{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 25%; 
}
.rightHand{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 21%;
    right: 22%; 
}
.leftHand{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 21%;
    left: 22%; 
}
.rightLeg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28%;
    right: 31%;  
}
.leftLeg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28%;
    left: 31%; 
}
.rightFoot{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 41%;
    right: 30%; 
}
.leftFoot{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 41%;
    left: 30%; 
}
.chest{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11%;
    left: 16%; 
}
.stomach{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    right: 16%;
}
.line{
    border: 1px solid red;
    width: 80px;
}
.line_value{
    border: 1px solid red;
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: red;
    color: aliceblue;
}
.line_second{
    border: 1px solid red;
    width: 220px;
}
