.home{
    height: 55vw;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cardBody{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    /* height: 100%; */
    background: white;
    border-radius: 10px;
    padding: 25px;
}
.cardContent{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.CardUpload{
    margin-top: 20px;
    border: 2px dashed black;
    height: 13rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;

}

@media only screen and (max-width: 1025px) {
    .home{
        height: 145vw;
    }
}