.homePage{
    margin-top: 0px;
}
.buttonCreate{
    position: fixed;
    top: 85%;
    right: 5%;
}
.item{
    padding: 20px;
}
.history_item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.history_card_success{
    background: rgb(205, 239, 205);
}
.history_card_draft{
    background: #d9eeff;
}
.history_card_close{
    background: rgb(255, 255, 196);
}
.card{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px 0;
}
.button{
    width: 48%;
    font-size: 1.2rem;
}
.modalCreate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheet{
    width: 500px;
}

@media only screen and (max-width: 1024px) {
    .history_item{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .buttonCreate{
        top: 90%;
    }
    .sheet{
        width: 70%;
    }
    
}
@media only screen and (max-width: 450px) {
    .history_item{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .buttonCreate{
        position: fixed;
        top: 85%;
        right: 9%;
    }
    .sheet{
        width: 90%;
    }
    
}
