.chat {
    width: 270px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5px;
    overflow-y: scroll;
}

.is_not_my_user {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%; 
    margin-top: 10px;
    flex-direction: column;
}
.is_user{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%; 
    margin-top: 10px;
    flex-direction: column;
}
.not_user{
    background: #e5e3e3;
    color: rgb(0, 0, 0);
    padding: 2px 8px;
    border-radius: 8px;
}

.user{
    background: #1769aa;
    color: aliceblue;
    padding: 2px 8px;
    border-radius: 8px;
}
.positionChat{
    position: fixed;
    top: 78%;
    right: 40px;
}

@media only screen and (min-width: 350px) {
    .positionChat{
        right: 15px;
    }
    .chat_size {
        height: 25rem;
        width: 20rem;
    }
    .bodyCard{
        position: fixed;
        top: 6.5rem;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        overflow: scroll;
        z-index: 1;
    }
}

@media only screen and (min-width: 1200px) {
    .positionChat{
        right: 3rem;
    }
    .chat_size {
        height: 25rem;
        width: 20rem;
    }
    .bodyCard{
        position: fixed;
        top: 12.5rem;
        right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        overflow: scroll;
        z-index: 1;
    }
}