.homeMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    flex-direction: row;
}

.body {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 20px;
}


.menuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}
.menuDetail{
    width: 100%;
    margin-left: 10px;
}
.menuDetail h3{
    font-size: 1.2rem;
    font-weight: 700;
}

@media only screen and (max-width: 450px) {
    .body {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-gap: 20px;
    }
}