.userContent{
    overflow: scroll;
    height: 30rem;
    background: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
.imageUser{
    width: 12rem;
    height: 22rem;
    object-fit: scale-down;
}

@media only screen and (max-width: 450px) {
    .userContent{
        width: 90%;
    }
}