.home {
    display: flex;
    align-items: start;
    justify-content: center;
}

.card{
    width: 580px;
}

.cardBody {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    /* height: 100%; */
    background: white;
    border-radius: 10px;
    padding: 25px;
}

.cardContent {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.CardUpload {
    margin-top: 20px;
    border: 2px dashed black;
    height: 13rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;

}

.modalImage {
    width: 600px;
}

.imagePreview {
    width: 600px;
}

.loopImage {
    overflow: scroll;
    max-height: 300px;
    padding: 10px;
    background: rgb(235, 235, 235);
}

@media only screen and (max-width: 450px) {
    .cardBody {
        width: 100%;
    }
    .card{
        width: 350px;
    }
}